* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(325deg, #ebc95c, #e98c12);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input {
  color: #e98c12;
  cursor: pointer;
}

form button {
  color: #e98c12;
}

form button:hover {
  background: #e98c12;
  color: white;
  cursor: pointer;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(60, 209, 60);
}

.trash-btn {
  background: #e98c12;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo-check {
  color: gray;
  text-decoration: line-through;
}
